// ===========================================
// core
// ===========================================
// normalize.css
@import 'core/_normalize';

.default{
  padding: 10px;
  background-color: red;
  color: #fff;
  font-size: 20px;
}
.active{
  padding: 10px;
  background-color: purple;
  color: #fff;
  font-weight: bold;
  font: 30px;
}